/* Edge (Windows) */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* Chrome (Android / AutoFill) */
input[type='password']::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
